.terminal-wrapper {
  width: calc(100% - 24px);
  height: calc(100% - 24px);
  position: absolute;
  top: 12px;
  left: 12px;
}

.terminal-active {
  visibility: visible;
  z-index: 1;
}

.terminal-hidden {
  visibility: hidden;
  z-index: 0;
}
